<div class="form-inline clearfix">
	<div class="nested-fields">
		<%= f.input :step, wrapper_html: {class: "m6 s12"} %>
		<%= link_to_remove_association "Remove", f, class: "right-align btn" %>
	</div>
</div>